* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    scrollbar-color: transparent transparent;
    scrollbar-width: 0px;
}
/* Nav Bar */
nav {
    background: #ab01c2;
    height: 80px;
    width: 100%;
}

body {
    font-family:  sans-serif;
    background-color: #f6f3f7fa;
    height: 100vh;
    display: grid;
    
}
.logo {
    color: #fafafa;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,
    minimax(400px,1fr));
    padding: 20px;
    grid: gap 40px;
}
.card{
    background-color: #1c1b29;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.18);
}
.container{
    position: relative;
    clip-path: polygon(0 0,100% 0,100%
    85%,0 100%);
}
img{
    width:100%;
    display:block;
    border-radius:20px 20px 0 0;
}
